/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 70%;
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    align-content: center;
}

a,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

a.btn-style {
    font-family: 'gg sans', sans-serif;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    text-decoration: none;
}

h2 {
    margin-bottom: 1rem;
}

.wave img {
    opacity: 0.1;
    width: 100%;
    display: block;
}

img.reverse {
    transform: rotate(180deg);
}

/* STILE ANCHOR TAGS BOTTONE */
a.btn-style,
a.btn-style:active,
a.btn-style:visited {
    color: black;
}

a.open-discord,
a.open-discord:visited,
a.open-discord:active {
    color: white;
    background-color: black
}

a.violet,
a.violet:visited,
a.violet:active {
    color: white;
    background-color: rgb(114, 137, 218);
}

/* #endregion GLOBAL RULES */

/* #region DEBUG */

.debug .container,
.debug .col-60,
.debug .col-40,
.debug .col-20 {
    border: 1px solid red;

}

.debug [class^='col-'],
.debug .container {
    min-height: 200px;
}

.debug section,
.debug header,
.debug nav,
.debug footer,
.debug .hero {
    border: 1px dashed blueviolet;
}

.debug .hero-text {
    border: 2px solid rgb(255, 47, 245);
    background-color: aquamarine;
}

.debug .container {
    background-color: darkred;
}

.debug .row {
    background-color: teal;
}

.debug header {
    background-color: rgb(100, 141, 33);
}

.debug nav {
    background-color: rgba(0, 255, 42, 0.644);
}

.debug .logo,
.debug .btn-container {
    background-color: blue;
}

.debug .hero {
    background-color: azure;
}

.debug section {
    background-color: lightblue;
}

.debug .col-60 {
    background-color: goldenrod;
}

.debug .col-40 {
    background-color: gold;
}

.debug .card {
    background-color: bisque;
    height: 125px;
    width: 175px;
}

.debug footer {
    background-color: thistle;
}

.debug .col-20 {
    background-color: darkorange;
}

.debug .lft-element {
    background-color: darkblue;
}

.debug .rgt-element {
    background-color: black;
}

/* #endregion DEBUG */

/* #region HEADER AND NAVBAR */

header {
    background-color: rgb(37, 94, 233);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

li {
    list-style: none;
}

.btn-container {
    text-align: end;
}

/* #endregion HEADER AND NAVBAR */

/* #region HERO */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text {
    text-align: center;
    color: white;
    width: 50%;
}

.hero-text h2 {
    margin-bottom: 1rem;

}

.hero-text p {
    /* font-size: 0.5rem; */
    /* line-height: 1rem; */
    margin: 1rem auto;
}

.fa-solid.fa-down-long {
    margin: 0 0.5rem;
}

.hero-text a {
    margin: 0 0.5rem;
}

/* #endregion HERO */

/* #region SECTIONS */

section.grey {
    background-color: rgb(229, 229, 229)
}

.row {
    margin: 0 -2rem;
}

[class^='col-'] {
    padding: 2rem;
}

.col-60 {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.col-60 .card>img {
    width: 100%;
}

.col-40 {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    /* QUESTO MARGINE ALLINEA IMMAGINE E PARAGRAFO DELLE COLONNE IN ALTO, MA A SECONDA DELLE DIMENSIONI DELLO SCHERMO L'EFFETTO VIENE PERSO */
    /* margin: 2rem; */
}

.reverse {
    flex-direction: row-reverse;
}

.col-big {
    flex-direction: column;
    text-align: center;
}

.col-big h2 {
    margin-top: 2rem;
}

.col-big img {
    width: 100%;
}

.flex-col {
    justify-content: center;
}

.col-big.stars {
    /* width: 100%; */
    justify-content: center;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.col-big.stars h3 {
    margin-bottom: 1.5rem;
}

/* #endregion SECTIONS */

/* #region FOOTER */

footer {
    background-color: rgb(35, 39, 42);
    padding-bottom: 2rem;
}

footer a {
    line-height: 1.5rem;
}

.fa-brands {
    margin: 0 0.5rem;
}

.col-20 {
    width: 20%;
}

.row.ftr {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid rgb(114, 137, 218);
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.container.ftr {
    border-top: 1px solid rgb(114, 137, 218);

}

footer h2 {
    color: rgb(114, 137, 218);
}

footer h3 {
    color: rgb(114, 137, 218);
}

/* #endregion FOOTER */

/* .lft-element {
    width: 5rem;
    height: 2.5rem;
} */

/* .rgt-element {
    width: 5rem;
    height: 2.5rem;
} */